@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
* {
    font-family: Verdana, Tahoma, "Trebuchet MS", 'Orbitron',"DejuVu Sans", "Bitstream Vera Sans", "VT323",'Special Elite',sans-serif;
} /* this affects every element */
body{
    background-color: rgb(23, 26, 21);
    z-index: 1px;
    overflow: auto;
}
html{
    scroll-behavior: smooth;
}
.mySlides {display:none;
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.863);

}
.mySlides2 {display:none;
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.863);

}
.mySlides3 {display:none;
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.863);

}
.mySlides4 {display:none;
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.863);

}
nav{
    width: 100%;
    /* border: 3px dotted violet; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
    /* position: fixed; */
    
}
.atags{
    color: wheat;
    text-shadow: 3px 2px 3px grey;
    text-decoration: none;
}
.atags:hover{
    color: rgb(156, 156, 141);
    font-size: 103%;
    /* border-bottom: 1px double rgb(10, 10, 9); */
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
}
h1{
    /* font-family: 'Ma Shan Zheng', cursive; */
    color: wheat;
    text-shadow: 2px 3px 2px rgb(116, 113, 113);
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}
h3,h2,h1,p,a{
    font-family: 'Orbitron', cursive;
}
h1:hover, h2:hover, h3:hover, h4:hover {
    cursor: default;
}

/* /////////////////////////////// ////////////////////////// ///////////////////////  //////////////// */
.logo{
    /* border: 3px dotted rgb(32, 218, 57); */
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links{
    /* border: 3px dotted goldenrod; */
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links{
    border-right: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10%;
    height: 90%;
}
.nav-links > img {
    max-width: 40%;
    max-height: 40%;
}

/* /////////////////////////// project container ////////////////////////////////////////// */
.project-container{
    width: 100%;
    height: 300vh;
    /* border: 3px dotted firebrick; */
    z-index: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* /////////////PROJECTS /////////////////// */
.zart{
    height: 80%;
    width: 98%;
    background-color: wheat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-left: 8px solid rgb(23, 26, 21);
    border-right: 8px solid rgb(23, 26, 21);
    background-image: linear-gradient(to left, rgb(23, 26, 21),rgb(223, 211, 188),rgb(245, 224, 182),wheat,rgb(235, 213, 173), rgb(23, 26, 21));
}
.nova{
    height: 80%;
    width: 98%;
    background-color: wheat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-left: 8px solid rgb(23, 26, 21);
    border-right: 8px solid rgb(23, 26, 21);
    background-image: linear-gradient(to left, rgb(23, 26, 21),rgb(223, 211, 188),rgb(245, 224, 182),wheat,rgb(235, 213, 173), rgb(23, 26, 21));
}
.carsjr{
    height: 80%;
    width: 98%;
    background-color: wheat;
    /* background-image: linear-gradient(to left, rgb(190, 187, 183),rgb(248, 230, 195),wheat, wheat); */
    display: flex;
    justify-content: end;
    align-items: center;
    border-left: 8px solid rgb(23, 26, 21);
    border-right: 8px solid rgb(23, 26, 21);
    background-image: linear-gradient(to left, rgb(23, 26, 21),rgb(223, 211, 188),rgb(245, 224, 182),wheat,rgb(235, 213, 173), rgb(23, 26, 21));
    
}
.minesweeper{
    height: 80%;
    width: 98%;
    background-color: wheat;
    display: flex;
    justify-content: start;
    align-items: center;
    border-left: 8px solid rgb(23, 26, 21);
    border-right: 8px solid rgb(23, 26, 21);
    background-image: linear-gradient(to left, rgb(23, 26, 21),rgb(223, 211, 188),rgb(245, 224, 182),wheat,rgb(235, 213, 173), rgb(23, 26, 21));
}
.project-holder{
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    width: 80%;
    height: 90%;
}
.project-image{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    max-width: 51%;  
    position: relative;
}
.project-image > #pic {
    box-shadow: 0px 0px 0px 5px black;
}
.project-information{
    /* border: 3px dotted forestgreen; */
    text-align: center;
    height: 90%;
    width: 30%;
    /* box-shadow: 3px -3px 3px 1px  rgba(20, 19, 19, 0.794); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid rgba(20, 19, 19, 0.794);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1.2s;
    font-family: 'Orbitron';
}
.project-information:hover{
    /* border: 2px solid rgba(193, 218, 134, 0.794); */
    border-radius: 4%;
    transition: 1.2s;
    /* transform: scaleY(1.5); */
    /* transform: skewX(20deg); */
    box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 0.424), 0 15px 40px 0 rgba(0, 0, 0, 0.363);
    transform: rotate3d(1, 1, 1, 360deg);
    background-color: rgba(226, 225, 225, 0.418);
}
.project-information:hover > div > h3 {
    transition: 15s;
    color: rgb(31, 54, 31);
}

/* //////////////////////////// PROJECT INFORMATION ITEMS //////////////////////////////// */
.project-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 10%;
    border-radius: 10%;
    border-bottom: 2px dotted black;
    
}
.project-title > h3 {
    font-family: 'Orbitron',;
    font-size: 150%;
    text-shadow: 3px 2px 2px gray;
}
.link-to-app{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.a-tag-to-app{
    filter: drop-shadow(0  0  3px rgb(3, 3, 3));
}
.a-tag-to-app:hover{
   transition: 1s;
   transform: rotate(360deg);
   text-decoration: none;
}
.project-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    height: 60%;
    border-radius: 10%;
    /* border: 2px solid rgb(153, 82, 82); */
    font-family: 'Orbitron';
    font-size: 100%;
}
.project-technologies{
    width: 100%;
    height: 20%;
    border-radius: 10%;
    /* border: 2px solid rgb(153, 82, 82); */
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    align-items: center;
}
.project-technologies > img{
    max-height: 100%;
    max-width: 20%;
    filter:  drop-shadow(0 0 7px rgb(107, 105, 105));
}
/* ///////////////////// ARROW ///////////////////////// */
.arrow:hover{
cursor: pointer;
}

/* ////////////////////// ABOUT CONTAINER /////////////////////////// */
.about-container {
    /* border: 3px dotted red; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-end; */
}
.about{
   background-image: linear-gradient(to left, rgb(23, 26, 21),rgb(248, 230, 195),wheat, rgb(23, 26, 21));
    height: 80%;
    width: 98%;
    background-color: wheat;
    display: flex;
    justify-content: space-evenly;
    border-left: 8px solid rgb(23, 26, 21);
    border-right: 8px solid rgb(23, 26, 21);
    border-top: 8px solid rgb(23, 26, 21);
    /* align-items: center; */
}
.about-image-holder{
    border: 3px solid black;
    width: 40%;
    height: 70%;
}
.about-text-holder{
    border: 3px solid black;
    color: wheat;
    width: 40%;
    height: 100%;
   background-color: rgb(23, 26, 21);
}
/* ////////////////////////// CONTACT CONTAINER //////////////////////////// */
.cntact{
    border-left: 8px solid rgb(23, 26, 21);
    border-right: 8px solid rgb(23, 26, 21);
    border-bottom: 8px solid rgb(23, 26, 21);
}
.contact-container{
    /* border: 3px solid forestgreen; */
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} 
.contact-way{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(23, 26, 21);
}
.social{
    width: 60%;
    height: 100%;
    border-left: 3px solid wheat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social > button > a > img{
    /* transition: 3s; */
    filter: drop-shadow(0 0 3px grey);
    width: 35%;
    height: 35%;
}
.social > button > a > img:hover{
    transition: 1s;
    transform: rotate3d(-1, -1, -1, 360deg);
    color: rgb(17, 19, 16);
}
 .contact-way > a {
    /* border: 3px solid red; */
    text-decoration: none;
    background-color: rgb(23, 26, 21);
    color: wheat;
    text-shadow: 3px 2px 3px rgb(114, 0, 0);
}
.contact-way > a > h3:hover{
    cursor: pointer;
}
.social > button{
    background-color: inherit;
    border: none;
}
/* ///////////////////////////// SKILLS ////////////////////////////////// */
.skills-row1{
    width: 98%;
    height: 25%; 
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    flex-wrap: wrap;
    background-color: rgb(23, 26, 21);
    border-left: 8px solid rgb(23, 26, 21);
    border-right: 8px solid rgb(23, 26, 21);
}
.skills-row1 > img {
    filter:  drop-shadow(2px 0 7px wheat);
}
.skills-row2 > img {
    filter:  drop-shadow(0 2px 7px wheat);
}
.skills-row2{
    width: 98%;
    height: 25%;
    background-color: wheat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(23, 26, 21);
    border-left: 8px solid rgb(23, 26, 21);
    border-right: 8px solid rgb(23, 26, 21);
}