@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap');
body{
    background-color: rgba(11, 56, 56, 0.616);
    z-index: 1px;
}
nav{
    width: 100%;
    border: 3px dotted violet;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
    /* position: fixed; */
    
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover{
    color: rgb(156, 156, 141);
    font-size: 103%;
    border-bottom: 1px double rgb(10, 10, 9);
    text-shadow: 2px 2px 2px black;
}

img{
    max-width: 20%;
    max-height: 20%;
}

h1{
    font-family: 'Ma Shan Zheng', cursive;
}

/* /////////////////////////////// ////////////////////////// ///////////////////////  //////////////// */
.logo{
    border: 3px dotted rgb(32, 218, 57);
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links{
    border: 3px dotted goldenrod;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* /////////////////////////// main container ////////////////////////////////////////// */
.main-container{
    width: 100%;
    height: 300vh;
    border: 3px dotted firebrick;
    z-index: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* /////////////PROJECTS /////////////////// */
.zart{
    border: 3px solid royalblue;
    height: 80%;
    width: 98%;
    background-color: wheat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nova{
    border: 3px solid rgb(188, 225, 65);
    height: 80%;
    width: 98%;
    background-color: wheat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.carsjr{
    border: 3px solid rgb(225, 169, 65);
    height: 80%;
    width: 98%;
    background-color: wheat;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.minesweeper{
    border: 3px solid rgb(54, 4, 78);
    height: 80%;
    width: 98%;
    background-color: wheat;
    display: flex;
    justify-content: start;
    align-items: center;
}
.project-holder{
    border: 3px solid black;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    width: 70%;
    height: 80%;
}
.project-image{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 51%;  
}
.project-image > #pic {
    box-shadow: 0px 0px 0px 5px black;
}
.project-information{
    border: 3px dotted forestgreen;
    height: 80%;
    width: 30%;
}
/* ///////////////////// ARROW ///////////////////////// */
.arrow:hover{
cursor: pointer;
}